@import './var.scss';

@media screen and (max-width: 1020px) {

        // CUBE ANIMATION AND SLIDING TEXT ANIMATION
        .projects-title {
            animation: none;
            transform: none;
        }

        .cube-wrap {
            position: absolute;
            --size: 30vmin;
            z-index: 0;
          }
        
        .cube {
            animation-play-state: running;
            animation: cube 10s linear infinite;
          }

    .mobile-showcase {
        flex-direction: column;
        margin-bottom: 0;

        .mobile-showcase-text {

            text-align: center;

            h1 {
                font-size: 8vw;
            }
        }        

        img {
            width: 50%;
            margin-top: 7%;
        }

    }


    .project-container {
        flex-direction: column;
        justify-content: center;
        width: 100vw;
    }

    .project-txt-wrapper {
        text-align: center;
        align-items: center;
        width: 100vw;
        padding: 0 5%;
        margin: 0;
        z-index: 5;
    }

    .project-content-wrapper {
        flex-direction: column;
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
        
        padding: 10vh 0;
    }

    .project-img-wrapper {
        width: 80vw;
    }

    .hexagons {
        width: 90vw;
    }

    .skill-container {
        width: 90vw;
    }

    .divider-bar {
        width: 90vw !important;
    }

    .small-projects-container {
        flex-direction: column;
    }
}


@media screen and (max-width: 760px) {

    // MOBILE SHOWCASE

    .mobile-showcase {
        margin-bottom: 30vh;
        .mobile-showcase-text {
            h1 {
                font-size: 20vw;
            }
        }

        .mobile-showcase-img-wrapper {
            #img-one, #img-two {
                display: none;
            }

            #img-three {
                transform: none;
                animation: none;
                width: 50vw;
            }
        }
    }

    
    
    // LANDING
    .landingImg {
        padding-left: 5%;
        padding-right: 5%;
    }

    .landing-title {
        font-size: 3rem;
    }

    .landing-header {
        font-size: 1.4rem;
    }

    .scroll-down-container {
        bottom: 1%;
    }
    
    // ABOUT ME
    .about-header {
        h2 {
            font-size: 20vw;
        }
    }

    .about-section-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .about-me-text {
            margin: 10% 0;
            padding: 0 5%;
            width: auto;
            text-align: center;
        }

        .about-me-image {
            padding: 0% 5%;
            margin: 5% 0;
        }
    }

    // SKILL SET
    .divider-bar {
        h2 {
            font-size: 5rem;
        }
    }

    .skill-div {
        width: 70px;
        height: 70px;
        text-align: center;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        color: white;
        font-family: $body;
        opacity: 0;
        z-index: 2;
    }



      // PROJECTS
        
    .projects-title {
        font-size: 25vw !important;
        transform: translateX(0);  
        position: absolute;
        left: 0;
        text-shadow: 0 0 1rem black;
    }

    .project-img-wrapper {
        margin: 0;
        min-width: 90vw;
    }

    .project-txt-wrapper {
        text-align: center;
        align-items: center;
        width: 100vw;
        padding: 0 5%;
        margin: 0;

        .project-icons-wrapper {
            justify-content: space-evenly;
        }

        .title-container {
            font-size: 100vw;
        }

        h1 {
            font-size: 20vw;
        }

        h2 {
            font-size: 1.7rem;
        }
    }

    // MOBILE SHOWCASE
    @keyframes mobileShowcaseMobile {
        from {
            transform: translateX(0px) rotate(0deg);
        }
        
        to {
            transform: translateX(80px) rotate(5deg);
        }
    }



    
    // STUDIES

    .study-wrapper {
        display: flex;
        flex-direction: column;
        
        h1 {
            position: relative;
            font-size: 10vw;
            z-index: 7;
            margin-left: 5vw;
        }
    }

    .study-body, .study-conclusion {
        padding: 0 5vw;
    }

    .img-stack {
        flex-direction: column;
        align-items: center;
        
        img {
            min-width: 90vw;
            margin-bottom: 50px;
        }
    }

    .header-img {
        img {
            min-width: 90vw;
        }
    }

    .study-img-wrapper {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;

        .phone-img {
            max-width: 40vw;
        }
    }

    .study-img-wrapper img:last-of-type {
        display: none;
    }

    .study-subtext-container {
        padding: 0 5vw;
        text-align: center;
    }

    .study-tools-wrapper {
        width: 90vw;
        
        img {
            height: 30px;
        }
    }

    hr {
        width: 70vw;
    }

    .study-header {
        h1 {
            font-size: 4rem;
            margin: 5% auto;
            letter-spacing: normal;
        }
    }

}

@media screen and (max-width: 620px) {
    .entry {
        flex-direction: column;
        text-align: center;
        margin-bottom: 25px;

        p {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}




