$body: 'Comfortaa', cursive;
$title: 'Comfortaa', cursive;
$study: 'Montserrat', sans-serif;
$studyBody: 'Rubik', sans-serif;
$heading: 'Staatliches', cursive;
$code: 'Ubuntu Mono', monospace;
$green: #007d50; 
$cube: rgba(0, 125, 80, 0.8);
$random: 'rgb(random(255), random(255), random(255))';
$bg: '#070707';
$yellow: #f9b920;
$purple: #432ab0;
$red: #ff4045;  
$bg: #070707;
$hl: #007D50;
$title: 'Comfortaa', cursive;
$code: 'Ubuntu Mono', monospace;
$navbar-height: 5rem;   
$travelr: #eb5160;