<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
        <script defer src="../scripts/study_index.js" type="module"></script>

    {% block head %}{% endblock %}

    <title>Case Studies</title>
</head>
<body>
{% include "partials/navbar.njk" %}
<div class="study-container">

    <a href="/case-studies/recorderly.html"><div class="study-wrapper"  id="study-wrapper-recorderly" data-color="#f9b920">
        {% block studyOne %}{% endblock %}
    </div></a>

    <a href="/case-studies/hpc.html"><div class="study-wrapper"  id="study-wrapper-hpc" data-color="#ff4045">
        {% block studyTwo %}{% endblock %}
    </div></a>

    <a href="/case-studies/scitech.html"><div class="study-wrapper" id="study-wrapper-scitech" data-color="#432ab0">
        {% block studyThree %}{% endblock %}
    </div></a>

    <a href="/case-studies/travelr.html"><div class="study-wrapper"  id="study-wrapper-travelr" data-color="#525252">
        {% block studyFour %}{% endblock %}
    </div></a>

</div>

</body>
</html>