<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/head.njk" %}
    {% block head %}{% endblock %}
    <script defer src="../scripts/study.js" type="module"></script>
</head>
<body class="body-study" id="{% block page %}{% endblock %}">
{% include "partials/navbar.njk" %}
<main>
<section class="study-main">
    <section class="study-header">
            {% block hexagonR %}{% endblock %}
            {% block headImg %}{% endblock %}
            <h1>{% block title %}{% endblock %}</h1>
            {% block hexagonL %}{% endblock %}
    </section>
    
    <section class="study-subtext">
        <div class="study-subtext-container">
            <h3>{% block subtext %}{% endblock %}</h3>
        </div>
        <div class="study-img-wrapper header-img">
            <img src={% block imgOne %}{% endblock %}>
        </div>
        <div class="study-tools-wrapper">
            {% block tools %}{% endblock %}
        </div>
        <hr>
    </section>

    <section class="study-body">
        <article class="study-intro">
            <h2 class="subtitle"><i class="far fa-comment-alt" id="{{ pageColor }}"></i>Introduction</h2>
            <p>{% block intro %}{% endblock %}</p>
        </article>
        <article class="study-overview">
            <h2 class="subtitle"><i class="fas fa-search"></i></i>Overview</h2>
            <p>{% block overview %}{% endblock %}</p>
        </article>
        <div class="study-img-wrapper">
            {% block afterIntroImg %}{% endblock %}
        </div>
        <h2 class="subtitle design-title"><i class="fas fa-paint-brush"></i>Design</h2>
        <article class="study-design">
            <p>{% block design %}{% endblock %}</p>
            <div class="study-palette-container">
                {% block palette %}{% endblock %}
            </div>
            <div class="study-img-wrapper img-stack">
                {% block designImg %}{% endblock %}
            </div>
        </article>
        <h2 class="subtitle"><i class="fas fa-terminal"></i>Technical</h2>
        <article class="study-technical">
            {% block technical %}{% endblock %}
        </article>
        <hr>
    </section>

    <section class="study-conclusion">
        <h2 class="subtitle"><i class="fas fa-scroll"></i>Final Thoughts</h2>
        <p>{% block conclusion %}{% endblock %}        <img src="../imgs/coolCat.svg" class="sign-off-img">
</p>
    </section>
</section>
</main>
</body>
</html>