<div class="navbar is-fixed-top study-navbar" id="navbar">
        <div class="navbar-brand">
            <div class="navbar-item nav-branding"><a href="../index.html#landing" class="landing-tag"><img src="*/../../imgs/coolCat.svg"></a></div>  
            <div class="navbar-burger">               
            </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item nav-link" href="../index.html#skills">Skills</a>
                <a class="navbar-item nav-link" href="../index.html#work">Work</a>
                <a class="navbar-item nav-link" href="../case-studies/studies.html">Case Studies</a>
                <a class="navbar-item nav-link" href="../index.html#contact">Contact</a>
            </div>
            <div class="navbar-end"></div>
        </div>
        </div>
    </div>