<div class="navbar is-fixed-top study-navbar" id="navbar">
        <div class="navbar-brand">
            <div class="navbar-item nav-branding"><a href="../index.html#landing" class="landing-tag"><img src="*/../../imgs/coolCat.svg"></a></div>  
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burger-button">
            ☰
        </a>           
            </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item nav-link" href="../index.html#skills">Skills</a>
                <a class="navbar-item nav-link" href="../index.html#work">Work</a>
                <a class="navbar-item nav-link" href="../case-studies/studies.html">Case Studies</a>
                <a class="navbar-item nav-link" href="../index.html#contact">Contact</a>
            </div>
            <div class="navbar-end"></div>
        </div>
        </div>
    </div>
    <div class="mobile-nav-container"></div>
