{% extends "../templates/index.njk" %}
{% block head %}
<title>Case Studies</title>
{% endblock %}

{% block studyOne %}
<a href="/case-studies/recorderly.html">
<img class="study-img" src="*/../../imgs/svg/recorderly.svg">
</a>
<h1 class="study-title">Recorderly</h1>
<div class="bg-circle"></div>

{% endblock %}

{% block studyTwo %}
<a href="/case-studies/hpc.html">
<img class="study-img" src="*/../../imgs/svg/recorderly.svg">
</a>
<h1 class="study-title">HPC</h1>
<div class="bg-circle"></div>
{% endblock %}

{% block studyThree %}
<a href="/case-studies/scitech.html">
<img class="study-img" src="*/../../imgs/svg/recorderly.svg">
</a>
<h1 class="study-title">Scitech</h1>
<div class="bg-circle"></div>

{% endblock %}

{% block studyFour %}
<a href="/case-studies/react.html">
<img class="study-img" src="*/../../imgs/svg/recorderly.svg">
</a>
<h1 class="study-title">Trave.lr</h1>
<div class="bg-circle"></div>

{% endblock %}