@import '../var.scss';

.small-projects-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}


@keyframes phoneSlide {
    to {
        transform: translateX(0vw);
    }
}
.small-project-container {
    height: 800px;
    width: 100%;

    #img-one{
        transform: translateX(-20vw) rotate(-5deg);
    }
    #img-two {
        transform: translateX(20vw) rotate(5deg);
    }

    img {
        padding: 10px;
        height: 90%;
        
        animation: phoneSlide 1s linear;
        /* Pause the animation */
        animation-play-state: paused;
        /* Bind the animation to scroll */
        animation-delay: calc(var(--scroll) * -1s);
        /* These last 2 properites clean up overshoot weirdness */
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

.small-project-title {
    margin-top: 15px;
    color: white;
    font-size: 2rem;
}

.mobile-showcase {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 150px;
    position: relative;

    .travelr-background {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        filter: blur(5px) brightness(0.7);
    }

    .project-gradient-overlay {
        background-color: rgba(0,0,0,0.5);
        filter: blur(5px);
    }

    .mobile-showcase-img-wrapper {
        position: relative;
        
        img {
            width: 30%;
            filter: drop-shadow(0 0 1rem rgba(0,0,0,1));
        }
     }


    .mobile-showcase-text {
        width: 100%;
        text-align: left;
        margin-bottom: 2%;
        margin-top: 5%;
        z-index: 10;
        opacity: 0;
        transform: scale(0);

        h2 {
            font-size: 2rem;
        }

        .mobile-btn-wrapper {
            display: flex;
            flex-direction: column;

        }

        .case-study-btn {
            width: 300px;
            border: 3px solid #fff;
            transition: 0.2s;
            margin: 1%;

            i {
                position: absolute;
                left: 5%;
            }
        }

        .case-study-btn:hover {
            border: 3px solid $green !important;
            background-color: transparent !important;
            color: $green !important;
            font-weight: normal !important;
            border-radius: 10px;
        }
        
        h1 {
            font-size: 8vw;
            position: relative;
            align-self: flex-end;
            font-family: $heading;
            text-shadow: 0 0 1rem black;
            line-height: 100%;
        }
    }


    #img-one {
        transform: translateX(100px) rotate(-7.5deg);
/*         animation: img-one 0.5s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both; */
    }
    
    #img-two {
        transform: rotate(0deg) translateY(-3%);
/*         animation: img-two 0.5s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both; */
    }

    #img-three {
        transform: translateX(-100px) rotate(7.5deg);
/*         animation: img-three 0.5s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both; */
    }

}

// SPREAD OUT PHONES ON HOVER

@keyframes img-one {
    to {
        transform: translateX(100px) rotate(-7.5deg);
    }
}
@keyframes img-two {
    to {
        transform: rotate(0deg) translateY(-3%);
    }
}
@keyframes img-three {
    to {
        transform: translateX(-100px) rotate(7.5deg);
    }
}
@keyframes img-four {
    to {
        transform: rotate(7.5deg);
    }
}